{% load static %}

<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <ul class="navbar-nav nav-fill w-100">
        <li class="nav-item active">
            <a class="nav-link m-0 p-0 mr-sm-3 mt-sm-3" href="mailto: info@ksp.co.ke" title="Send Mail to {{ company_name }}">
                <i class="fa fa-envelope-o fa-lg" alt="mail"></i>&nbsp; Mail </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link m-0 p-0 mr-sm-3 mt-sm-3" target="_blank" href="https://www.facebook.com">
                <i class="fa fa-facebook fa-lg" alt="facebook"></i>&nbsp; facebook </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link m-0 p-0 mr-sm-3 mt-sm-3" target="_blank" href="http://www.twitter.com">
                <i class="fa fa-twitter fa-lg" alt="twitter"></i>&nbsp; twitter </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link m-0 p-0 mr-sm-3 mt-sm-3" target="_blank" href="http://www.google.com">
                <i class="fa fa-google-plus fa-lg" alt="google+"></i>&nbsp; Google + </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link m-0 p-0 mr-sm-3 mt-sm-3" target="_blank" href="http://www.linkedin.com">
                <i class="fa fa-linkedin fa-lg" alt="linkedin"></i>&nbsp; LinkedIn </a>
        </li>
    </ul>
</nav>


<div class="row bg-white">
    <div class="col">
        <div class="text-center">
            <span class="lead text-muted">&copy {{ company_name }} {% now "Y" %}</span>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
            <small>This web is designed by <a target="_blank" href="https://www.linkedin.com/in/wangageorge/"> George
                    Wanga </a></small>
            <small>&copy <a target="_blank" href="https://ksp.co.ke"> {{ company_name }} {% now "Y" %} </a></small>
        </div>
    </div>
</div>