{% load static %}
{% url 'inventories:list' as inventories %}
{% url 'services:list' as services %}
{% url 'sales:list' as sales %}

<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand mb-0 h1" href="{{ inventories }}">
        <img src="{% static 'images/ksp_100.png' %}" height="30" class="d-inline-block align-top" alt="">
        <strong style="font-family:arial; font-size: x-large;">
            K<span class="text-danger-custom">opere</span>
            S<span class="text-danger-custom">tationers</span> &
            P<span class="text-danger-custom">rinters</span>
        </strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.path == inventories %} active {% endif %}">
                <a class="nav-link" href="{{ inventories }}">
                    Products
                    {% if request.path == inventories %}
                    <span class="sr-only">(current)</span>
                    {% endif %}
                </a>
            </li>
            <li class="nav-item {% if request.path == services %} active {% endif %}">
                <a class="nav-link" href="{{ services }}">
                    Services
                    {% if request.path == services %}
                    <span class="sr-only">(current)</span>
                    {% endif %}
                </a>
            </li>
            <li class="nav-item {% if request.path == sales %} active {% endif %}">
                <a class="nav-link" href="{{ sales }}">
                    Sales
                    {% if request.path == sales %}
                    <span class="sr-only">(current)</span>
                    {% endif %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin"> Admin </a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>